<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
			integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
		/>
		<title>Pensamentos</title>
	</head>
	<body>
		<nav id='navbar'>
			<a href=' /' id='logo'>
				<img src='/img/toughts_logo.png' alt='logo' />
			</a>
			<ul>
				<li> <a href='/'>Pensamentos</a> </li>
				{{! url apos autenticação }}
				{{#if session.userid}}

					<li> <a href='/thougths/dashboard'>Dashboard</a> </li>
					<li> <a href='/logout'>Sair</a> </li>
				{{else}}
					<li> <a href='/login'>Entrar</a> </li>
					<li> <a href='/register'>Registrar</a> </li>
				{{/if}}

			</ul>
		</nav>
		<div class='container'>
			{{#if messages.message}}
				<div class='message'> {{messages.message}}</div>
			{{/if}}
			{{{body}}}
		</div>
		<footer>
			<p><span>Thoughts</span> &copy; 2021</p>
		</footer>
	</body>
</html>